<html>
    <head></head>
    <body>
        <h1>Jay Hind.</h1>
        <h2>Welcome <%= name %></h2>
        <form action="/logout?_method=DELETE" method="Post">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>